events {}

http {
  limit_req_zone $binary_remote_addr zone=booking_limit:10m rate=5r/s;
  limit_req_status 429;

  upstream ticket_booking_app {
    server app:8001;
  }

  server {
    listen 80;

    gzip on;
    gzip_types application/json text/plain;

    location /bookings {
      limit_req zone=booking_limit burst=10 nodelay;

      proxy_pass http://ticket_booking_app;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
      proxy_pass http://ticket_booking_app;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }
  }
}